ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial;
}

li a:hover {
  background-color: orange;
  border: solid black 1px;
}

.images img{ 
	width: 15em;
	height: auto;
}

.images{
	justify-content: center;
	display: flex;
	}